div {
    font-size:100px;
    position: relative;
     -webkit-animation-name: example; 
     -webkit-animation-duration: 4s; 
     animation-name: example;
     animation-duration: 4s;
   }
   
   /* Safari 4.0 - 8.0 */
   @-webkit-keyframes example {
     0%   {left:0px; top:0px;}
     25%  {left:200px; top:0px;}
     50%  {left:200px; top:200px;}
     75%  {left:0px; top:200px;}
     100% {left:0px; top:0px;}
   }
   
   /* Standard syntax */
   @keyframes example {
     0%   {left:30px; top:30px;}
     25%  {left:200px; top:0px;}
     50%  {left:200px; top:200px;}
     75%  {left:0px; top:200px;}
     100% {left:0px; top:0px;}
   }
   
   